@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  margin: 0 auto;
  font-family: roboto;
}

* {
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: rgb(40, 40, 40);
}

h3 {
  color: rgb(80, 80, 80);
}
